{% extends "base.html" %}

{% block content %}
<h2>{{ t('messages.title') }}</h2>

{% if chats %}
    <ul>
    {% for chat in chats %}
        <li>
            <a href="/chat/{{ chat.chat_id }}">
                <h3>{{ chat.other_username }}</h3>
                <h5>{{ t('messages.last_message') }}: {% if chat.last_message %}{{ chat.last_message }}{% else %}{{ t('messages.no_last_message') }}{% endif %}</h5>
                <h5>{{ t('messages.created') }}: {{ chat.created_date.strftime('%d.%m.%Y') }}</h5>
            </a>
        </li>
        <hr>
    {% endfor %}
    </ul>
{% else %}
    <p>{{ t('messages.none') }}</p>
    <a href="/" class="btn btn-secondary">{{ t('messages.to_products') }}</a>
{% endif %}
{% endblock %}
