{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h2>{{ product["name"] }}</h2>
                </div>
                <div class="card-body">
                    {% if product["image"] %}
                        <img src="\{{ product["image"] }}" alt="{{ product["name"] }}" style="max-width: 100%; height: auto; margin-bottom: 20px;">
                    {% endif %}
                    <h4>Description</h4>
                    <p>{{ product["description"] }}</p>
                    <h4>Price</h4>
                    <p>{{ product["pricing"] }} ₽</p>
                    <h4>Created</h4>
                    <p>{{ product["created_date"] }}</p>
                </div>
                <div class="card-footer">
                    <a href="/" class="btn btn-secondary">Back</a>
                    {% if delete_allowed %}
                        <a href="/del_product/{{product['id']}}" class="btn btn-secondary product-page-button delete">Delete</a>
                    {% endif %}
                    {% if not delete_allowed %}
                        <a href="/start_chat/{{ product['owner'] }}/{{ product['id'] }}" class="btn btn-primary">Chat with seller</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
